.sectionDivider {
    border-bottom-color: rgb(248 250 252);
    border-width: 1px;
    width: 60%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    
    @media (min-width: 768px) {
        width: 200px;
    }
}
