.header {
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding-bottom: 0.5rem;

    @media (min-width: 1024px) {
        padding-bottom: 1rem;
    }
}

.jumpLink {
    text-decoration-line: underline;
    color: rgb(71 85 105);
    margin-bottom: 1rem;

    @media (min-width: 1024px) {
        display: none;
    }
}