.wrapper {
    padding: 1rem;
    gap: 1rem;
    width: fit-content;
    height: 100%;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        display: grid;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        display: grid;
    }
}
